parameters:
    level: max
    paths:
        - app
    excludePaths:
        - app/Providers
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Unsafe usage of new class#'
